body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

header {
    background-color: lavenderblush;
    padding: 10px;
    border-left: 5px solid blueviolet;
}
h1 {
    color: blueviolet;
}